<div class="container">
    <h2 style="text-align: center;padding-top: 20px;">Danh Sách Thành Viên Câu Lạc Bộ</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/images/phat.jpg" class="member">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title name">Quốc Huy</h5>
                        </div>
                    </div>
                    <div class="card-body text">
                        <p class="card-text">06/12/1998</p>
                        <p class="card-text">Tam Kỳ, Quảng Nam</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">xem thông tin</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/images/phat.jpg" class="member">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title name">Trương Phát</h5>
                        </div>
                    </div>
                    <div class="card-body text">
                        <p class="card-text">22/07/1999</p>
                        <p class="card-text">Tam Kỳ, Quảng Nam</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">xem thông tin</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/images/phat.jpg" class="member">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title name">Vĩnh Tịnh</h5>
                        </div>
                    </div>
                    <div class="card-body text">
                        <p class="card-text">06/12/1998</p>
                        <p class="card-text">Tam Kỳ, Quảng Nam</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">xem thông tin</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/images/phat.jpg" class="member">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title name">Công Minh</h5>
                        </div>
                    </div>
                    <div class="card-body text">
                        <p class="card-text">06/12/1998</p>
                        <p class="card-text">Tam Kỳ, Quảng Nam</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">xem thông tin</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/images/phat.jpg" class="member">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title name">Văn Hiếu</h5>
                        </div>
                    </div>
                    <div class="card-body text">
                        <p class="card-text">06/12/1998</p>
                        <p class="card-text">Tam Kỳ, Quảng Nam</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">xem thông tin</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/assets/images/phat.jpg" class="member">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title name">Lê Tuấn</h5>
                        </div>
                    </div>
                    <div class="card-body text">
                        <p class="card-text">06/12/1998</p>
                        <p class="card-text">Tam Kỳ, Quảng Nam</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">xem thông tin</button>
                </div>
            </div>
        </div>

    </div>
</div>