@media screen and (max-width: 2000px) {
    img {
        margin: 10px;
        border-radius: 10px;
        border: none;
        max-width: 90%;
        height: auto;
    }

    .margin-product {
        margin-right: 70px;
        padding: 0%;

    }

    .name {
        font-weight: 600;
        color: #000;
        margin-left: 10px;
    }

    .price {
        position: absolute;
        bottom: 5%;
        margin-left: 10px;

    }

    .shadow {
        box-shadow: 5px 5px 5px yellow;
        border-radius: 10px;
        margin-top: 10px;
        padding-left: 7.5px;
        padding-right: 0px;
        margin-bottom: 10px;
        width: 200px;
        margin-right: 50px;
        padding: 0%;
        height: 320px;
    }

    #btnmuangay {
        background-color: darkred;
        color: white;
        margin-left: 100px;
        height: 40px;
        width: 100px;
        padding: 0;
        text-align: center;
    }

    #btnAddToCart {
        background-color: darkred;
        color: white;
        margin: 30px 0 0 150px;
        height: 30px;
        width: 30px;
        padding: 0;
        text-align: center;
        font-size: 20px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 1280px) {
    img {
        margin: 10px;
        border-radius: 10px;
        border: none;
        max-width: 90%;
        height: auto;
    }

    .margin-product {
        margin-right: 70px;
        padding: 0%;
    }

    .name {
        font-weight: 600;
        color: #000;
        margin-left: 10px;
    }

    .price {
        position: absolute;
        bottom: 5%;
        margin-left: 10px;

    }

    .shadow {
        box-shadow: 5px 5px 5px yellow;
        margin-top: 10px;
        padding-left: 7.5px;
        padding-right: 0px;
        margin-bottom: 10px;
        width: 300px;
        margin-right: 70px;
        padding: 0%;
        height: 350px;
    }

    #btnmuangay {
        background-color: darkred;
        color: white;
        margin-left: 100px;
        height: 40px;
        width: 100px;
        padding: 0;
        text-align: center;
    }

    #btnAddToCart {
        background-color: darkred;
        color: white;
        margin-left: 100px;
        height: 40px;
        width: 100px;
        padding: 0;
        text-align: center;
    }
}

@media screen and (max-width: 770px) {
    img {
        margin: 10px;
        border-radius: 10px;
        border: none;
        max-width: 90%;
        height: auto;
    }

    .name {
        font-weight: 600;
        color: #000;
        margin-left: 10px;
    }

    .price {
        position: absolute;
        bottom: 5%;
        margin-left: 10px;

    }

    .margin-product {
        margin-right: 50px;
        padding: 0%;
    }

    .shadow {
        box-shadow: 5px 5px 5px yellow;
        margin-top: 10px;
        padding-left: 7.5px;
        padding-right: 0px;
        margin-bottom: 10px;
        width: 300px;
        margin-right: 70px;
        padding: 0%;
        height: 470px;
    }

    #btnmuangay {
        background-color: darkred;
        color: white;
        margin-left: 100px;
        height: 40px;
        width: 100px;
        padding: 0;
        text-align: center;
    }

    #btnAddToCart {
        background-color: darkred;
        color: white;
        margin-left: 100px;
        height: 40px;
        width: 100px;
        padding: 0;
        text-align: center;
    }
}

#btnmuangay:hover {
    background-color: rgb(172, 40, 0);
    color: white;
}

#btnAddToCart:hover {
    background-color: darkred;
    color: white;
}

#btnbtnAddToCart:focus {
    background-color: darkred;
    color: white;
}

.pading {
    padding-top: 100px;
}

.margin {
    margin-top: 100px;
}

.float {
    clear: none;
}

p {
    padding: 0;
}

.class-container {
    border-radius: 10px rgb(0, 0, 0);
    background-color: #fff;
}

body {
    background-color: #f5f5f5;
}

h3 {
    font-weight: 800;
    text-shadow: black;
}

.see-more {}