.backgroud {
    background-color: white;
}

.form-info {
    height: 500px;
}

.form-Credit-Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
    border-radius: 10px;
    /* border: 1px solid white; */
}

.box {
    width: 500px;
    top: 50%;
    left: 50%;
    text-align: center;
    transition: 0.25s;
    border-radius: 10px;
}

.box input[type="number"],
.box input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #b3b3b3;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    color: black;
}

.box input[type="number"]:focus,
.box input[type="text"]:focus {
    width: 300px;
    border-color: #2ecc71
}

h4 {
    color: black;
    font-weight: 500;
}

.header-form-Credit-Card {}

.btn-add {
    border-radius: 30px;
    height: 40px;
    font-size: small;
    width: 80px;
    right: 1px;
    background-color: white;
}

.padding-top-15 {
    padding-top: 15px;
}

.name, .totalMoney, .qty, .price {
    font-size: 12px;
    font-weight: 400;
}
.qty-i{
    width: 40px;
}
.name, .totalMoney{
    padding: 0;
}

.qty {
    width: 30px;
}

.cart {
    margin-top: 10px;
    height: 100px;
}

.totalMoneyCart {
    position: absolute;
    right: 20%;
}

.line {
    width: 100%;
    background-color: rgb(224, 224, 224);
    /* margin: 0; */
}

.btn-total-final {
    background-color: rgb(255, 86, 74);
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: none;
    border-radius: 0;
    box-shadow: 0;
    position: absolute;
    top: 20%;
    padding: 0;
    text-align: left;
}
.btn-check-out{
    position: absolute;
    top: 20%;
    background-color: white;
    color: rgb(255, 86, 74);
    left: 40%;
    
}
.btn-check-out:hover{
    background-color: white;
    color: black;
}

.btn-total {
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 0;
    box-shadow: 0;
    margin-left: 10px;
}

.totalfinal {
    background-color: rgb(255, 86, 74);
    margin: 0;
    width: 100%;
    height: 81px;
    border-radius: 0px 0px 10px 10px;
    bottom: -5px;
}

.btn-reward {
    margin-left: 0px;
    color: rgb(255, 86, 74);
    display: block;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0;
    margin-bottom: 15px;
}
.promotion{
    margin-left: 0px;
}

ul{
    list-style-type: none !important;
}
img{
    width: 28px;
    height: 20px;
    margin-right: 5px;
}
li{
    height: 40px;
}
.img-p{
    width: 50px;
    height: 50px;
}

/* MODAL STYLES
-------------------------------*/
jw-modal {
    /* modals are hidden by default */
    display: none;
   
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
.shadow{
    border-radius: 10px;
    background-color: rgb(255, 217, 217);
    margin-bottom: 10px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    height: 130px;
}
.time-end{
    font-style: italic;
    font-size: 13px;
}
.description{
    font-size: 14px;

}
.rewards{
    font-weight: 400;
    color: black;
    font-size: 20px;
}
.img-rewards{
    max-width: 100%;
    height: 130px;
    padding: 0;
    border-radius: 10px 0px 0px 10px;
}
.btn-use{
    margin-top: 50px;
    color: firebrick;
    background-color: rgb(255, 217, 217);
    border: none;
    padding: 0;
}
.coupon-name{
    padding: 0;
}
.coupon-use{
    padding: 0;
    margin-left: 0px;
    margin-bottom: 10px;
}
.btn-del-coupon{
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0;
}
.coupon-money{
    position: absolute;
    left: 60%;
}
.error{
    color: red;
    font-style: italic;
}